nav {
  background-color: white;
}

#text-404 {
  font-family: "Neucha";
  text-align: center;
  font-size: large;
}

p {
  font-family: "Neucha";
  text-align: justify;
  font-size: medium;
}

#welcome-header,
.btn {
  color: #4caf50;
}

nav a,
a.sidenav-trigger i,
ul.sidenav li a {
  color: #b9f6ca;
}

nav,
#text-404,
#footer-text,
#copyright-text,
p {
  color: #616161;
}

.btn {
  background: white;
}

.btn:hover,
.btn:focus {
  background: #4caf50;
  color: white;
}
