nav {
  background-color: white;
}

#ai-sight-text {
  font-family: "Neucha";
  text-align: center;
  font-size: large;
}

p {
  font-family: "Neucha";
  text-align: justify;
  font-size: large;
}

#welcome-header {
  color: #2196f3;
}

nav a,
a.sidenav-trigger i,
ul.sidenav li a {
  color: #212121;
}

nav,
#ai-sight-text,
#footer-text,
#copyright-text,
p {
  color: #616161;
}
