nav {
  background-color: white;
}

#intro-text {
  font-family: "Neucha";
  text-align: center;
  font-size: large;
}

#typed-text {
  font-family: "Loved by the King";
  text-align: center;
  min-height: 60px;
  color: #ffca28;
}

#welcome-header {
  color: #01579b;
}

nav a,
a.sidenav-trigger i,
ul.sidenav li a {
  color: #ffca28;
}

nav,
#intro-text,
#footer-text,
#copyright-text {
  color: #616161;
}
