/* theme section */
body,
nav {
  background-color: white;
}

#typed-text {
  color: #64ffda;
}

#welcome-header {
  color: #01579b;
}

nav,
nav a {
  color: #1de9b6;
}

#intro-text {
  color: #616161;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* non-theme related styles */

nav {
  font-family: "Loved by the King";
  font-size: 2em;
  text-align: right;
  box-shadow: none;
  padding-right: 20px;
}

#welcome-header,
#typed-text {
  font-family: "Loved by the King";
  text-align: center;
  min-height: 60px;
}

#intro-text {
  font-family: "Neucha";
  text-align: center;
  font-size: large;
}

footer {
  text-align: center;
}

.footer-text {
  font-family: "Loved by the King";
  font-size: 50px;
  color: #616161;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}
