---
permalink: /404
---

<!DOCTYPE html>
<html>

<head>
  <title>Vikram Bajaj - 404</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/404_theme.css" />
</head>

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m12 l12" style="text-align: center;">
      <div class="col s12 m6 l6 push-m3 push-l3">
        <h1 id="welcome-header">404</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2" style="text-align: center;">
      <img src="images/404/404.png" style="width: 200px; height: auto;" />
      <p id="text-404">
        I can't find the page you're looking for!
        <br /><br />
        <a class="btn waves-effect waves-light" href="/">Go Home <i class="fas fa-arrow-right right"></i></a>
      </p>
    </div>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- Default Statcounter code -->
  <script type="text/javascript">
    var sc_project = 12039826;
    var sc_invisible = 1;
    var sc_security = "21b96df6";
  </script>
</body>
{% include footer.html %}

</html>