---
permalink: /AI_Sight
---

<!DOCTYPE html>
<html>

<head>
  {% include tracking.html %}
  <title>Vikram Bajaj - AI Sight</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/AI_Sight_theme.css" />
</head>

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m12 l12" style="text-align: center;">
      <img src="images/projects/ai-sight.png" style="height: 100px; width: 100px;" />
    </div>
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">AI Sight</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2">
      <p id="ai-sight-text">
        AI Sight is an Android app for Offline Object Recognition! <br />It
        can recognize objects belonging to
        <a href="1000_Categories_AI_Sight.pdf" download="1000_Categories_AI_Sight.pdf">1000 categories</a>! <br /><br />
        <a href="https://play.google.com/store/apps/details?id=com.vikrambajaj.aisight&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          target="_blank"><img alt="Get it on Google Play" src="images/ai-sight/google-play-badge.png"
            style="width: 250px; height: auto;" /></a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m16 l6 push-m3 push-l3">
      <div class="card">
        <div class="card-content">
          <p>
            <b>Privacy Policy</b><br /><br />
            AI Sight requires the following permissions:<br />
            - Camera Access<br />
            - Storage Access<br /><br />
            The app needs camera access for the user to click pictures of
            objects to be recognized, and needs storage access for the user to
            be able to select an image from the phone's gallery<br /><br />
            The app works <b>offline</b>: user data is neither collected nor
            shared with third party services<br /><br />
            Therefore, AI Sight does not collect/store/distribute any
            personally identifiable information
            <br />
            <br />
            View the full privacy policy <a href="/AI_Sight_Privacy_Poilcy">here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>