---
permalink: /books
---

<!DOCTYPE html>
<html>

<head>
  <title>Vikram Bajaj - Books</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/books_theme.css" />
</head>

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">My GitBooks!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <p id="books-text">
        My love for documentation led me to write these GitBooks!<br />Some of
        them are based on the courses that I took as a graduate student at
        NYU, while pursuing my MS in Computer Science. Others are based on
        online courses that I've completed on websites like Coursera and
        edX.<br />
        Feel free to view and download them. I hope you find them helpful :)
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <div class="row">
        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_8.png" />
            <div style="padding-top: 5px">
              <h5>Information Visualization</h5>
              <h6>Dec 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-6313-information-visualization/" target="_blank"><i
                  class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_1.jpg" />
            <div style="padding-top: 5px">
              <h5>Deep Learning</h5>
              <h6>May 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/deep-learning-specialization-coursera/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_2.jpg" />
            <div style="padding-top: 5px">
              <h5>Machine Learning</h5>
              <h6>May 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-6923-machine-learning/" target="_blank"><i
                  class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_3.jpg" />
            <div style="padding-top: 5px">
              <h5>Computer Vision</h5>
              <h6>April 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-6643-computer-vision-and-scene-analysis/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_4.jpg" />
            <div style="padding-top: 5px">
              <h5>Big Data</h5>
              <h6>November 2017</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-9223-d-programming-for-big-data/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_5.jpg" />
            <div style="padding-top: 5px">
              <h5>Database Systems</h5>
              <h6>April 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-6083-principles-of-database-systems/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_6.jpg" />
            <div style="padding-top: 5px">
              <h5>Algorithms</h5>
              <h6>November 2017</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/cs-gy-6033-i-design-and-analysis-of-algorithms-1/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>

        <div class="col s6 m4 l4">
          <figure class="snip0024" style="background: #212121">
            <img src="images/books/book_cover_7.jpg" />
            <div style="padding-top: 5px">
              <h5>Corporate Finance</h5>
              <h6>May 2018</h6>
              <a href="https://app.gitbook.com/@vikram-bajaj/s/introduction-to-corporate-finance-coursera/"
                target="_blank"><i class="fas fa-arrow-right"></i></a>
              <div class="curl"></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- Default Statcounter code -->
  <script type="text/javascript">
    var sc_project = 12039826;
    var sc_invisible = 1;
    var sc_security = "21b96df6";
  </script>
</body>
{% include footer.html %}

</html>