---
permalink: /contact
---

<!DOCTYPE html>
<html>

<head>
  {% include tracking.html %}
  <title>Vikram Bajaj - Contact</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/contact_theme.css" />
</head>

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">Send me a message!</h1>
    </div>
  </div>

  <!-- for successful form redirection-->
  <script type="text/javascript">
    var submitted = false;
  </script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted) {window.location='/thank_you';}"></iframe>
  <!-- linking Google Form elements to a custom HTML form:
  https://medium.com/geekculture/link-your-html-form-to-a-spreadsheet-via-google-forms-9024f0611d82
  -->
  <div class="row">
    <form class="col s12 m6 l6 push-m3 push-l3"
      action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSenEjOkYyYeWIh6cJNuoKwIXLjCV6BwBjYUgvqn3KMACohSYw/formResponse"
      method="POST" target="hidden_iframe" onsubmit="submitted=true;">
      <div class="input-field col s12 m12 l12">
        <i class="far fa-user prefix"></i>
        <input id="name" name="entry.418405323" type="text" class="validate" required />
        <label for="name">Your Name</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <i class="far fa-envelope prefix"></i>
        <input id="email" name="emailAddress" type="email" class="validate" required />
        <label for="email">Your Email</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <i class="far fa-comment-alt prefix"></i>
        <textarea id="textarea" name="entry.1812210981" class="materialize-textarea" required></textarea>
        <label for="textarea">Your Message</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <i class="far fa-robot prefix"></i>
        <input id="captcha" name="entry.590623925" type="text" class="validate" required />
        <label for="captcha">Math CAPTCHA: 2+3</label>
      </div>
      <button class="btn waves-effect waves-light right submit" type="submit" name="action">
        Send
        <i class="far fa-paper-plane right"></i>
      </button>
    </form>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>