---
permalink: /hobbies
---

<!DOCTYPE html>
<html>

<head>
  <title>Vikram Bajaj - Hobbies</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/hobbies_theme.css" />
</head>
{% include tracking.html %}

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">My Hobbies!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <p id="hobbies-text">
        I love art! I think of art as a channel to express oneself without
        words.<br />
        Use the filters below to navigate through some of my creations, or
        visit my Instagram art page -
        <a href="https://www.instagram.com/artbreak_vik" target="_blank">@artbreak_vik</a>
      </p>
    </div>
  </div>

  <div class="row filters">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <div class="chip active" id="all">all</div>
      <div class="chip" id="oil-paintings">oil paintings</div>
      <div class="chip" id="digital-art">digital art</div>
      <div class="chip" id="hand-sketches">hand sketches</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2">
      <div class="row" id="parent">
        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/13-reasons-why.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by the Netflix Original Series, "13 Reasons Why"!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/cant-help-falling-in-love.png" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by the song "Can't Help Falling In Love"!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/say-you-wont-let-go.png" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by the song "Say You Won't Let Go" by James Arthur!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 oil-paintings">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/oil-paintings/birds-in-the-sunset.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A silhouette of birds in the sunset! This is one of my first
                oil paintings!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/dancing-on-my-own.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by the song "Dancing On My Own" by Calum Scott!<br />
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 hand-sketches">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/hand-sketches/cabin-in-the-woods.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A quick sketch of a cabin in the woods!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/burrning-man-ego.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by a sculpture at Burning Man!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 oil-paintings">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/oil-paintings/textured-oil-painting.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A textured oil painting, with textures made using crushed
                tissue paper and glue!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 hand-sketches">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/hand-sketches/couple-dance-colorpencil.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A sketch of a couple dancing, made using color pencils!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 oil-paintings">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/oil-paintings/mountains-at-dawn.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                An oil painting of mountains at dawn!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/friends.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Friends!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 oil-paintings">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/oil-paintings/three-piece-oil-painting.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A three-piece oil painting of mountains in the night!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 hand-sketches">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/hand-sketches/couple-snow-globe.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A sketch of a couple in a snow globe!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/gold-maroon-saree.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A digital sketch of a woman in a saree!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 hand-sketches">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/hand-sketches/saree-fashion.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A sketch of another woman in a saree, made using color pencils
                and glitter pens!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/life-is-strange.png" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                Inspired by one of my favorite games, "Life Is Strange"!
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4 digital-art">
          <div class="card">
            <div class="card-image">
              <img src="images/hobbies/digital-art/gown-in-the-wind.jpg" class="materialboxed" />
            </div>
            <div class="card-content">
              <p>
                A digital sketch of a woman wearing an evening dress, "Gown
                with the wind"!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JQuery for filtering divs-->
  <script>
    var $btns = $(".chip").click(function () {
      if (this.id == "all") {
        $("#parent > div").fadeIn(450);
      } else {
        var $el = $("." + this.id).fadeIn(450);
        $("#parent > div").not($el).hide();
      }
      $btns.removeClass("active");
      $(this).addClass("active");
    });
  </script>
  <!--Image click to zoom-->
  <script>
    $(document).ready(function () {
      $(".materialboxed").materialbox();
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>