---
permalink: /
---

<!DOCTYPE html>
<html>

<head>
  <title>Vikram Bajaj - Home</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/home_theme.css" />
  <!--Import typed.js for animated text-->
  <script type="text/javascript" src="js/typed.js"></script>
</head>

<body>
  {% include navigation.html %}
  <div class="row" style="margin-bottom: 0px;">
    <div class="col s12 m8 l8 push-m2 push-l2" style="text-align: center;">
      <h1 id="welcome-header">
        Hey there! I'm Vikram
      </h1>
      <img src="images/home/website-profile-pic.png" style="width: 250px; height: auto;" />
    </div>
  </div>
  <div class="row" style="margin-bottom: 0px;">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h2 id="typed-text"></h2>
    </div>
  </div>
  <div class="row" style="margin: 0px">
    <div class="col s12 m8 l8 push-m2 push-l2">
      <p id="intro-text">
        I'm Vikram Bajaj and I live in the NYC area!<br />
        I graduated from NYU with my MS in Computer Science in 2019, and I've been working as a Machine Learning
        Engineer at
        Deutsche Bank, NY!<br />
        I'm originally from Hyderabad, India.<br />
      </p>
    </div>
  </div>
  <!--Setting the text options for animation-->
  <script type="text/javascript">
    var options = {
      strings: [
        "I love Data",
        "I love Machine Learning",
        "I love Deep Learning",
        "I love Data Science",
        "I love Computer Vision",
        "I love NLP"
      ],
      smartBackspace: true,
      typeSpeed: 100,
      backSpeed: 50,
      loop: true,
      showCursor: false
    };
    var typed = new Typed("#typed-text", options);
  </script>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>