---
permalink: /publications
---

<!DOCTYPE html>
<html>

<head>
  <title>Vikram Bajaj - Publications</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/publications_theme.css" />
</head>
{% include tracking.html %}

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">My Publications</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2">
      <p id="publications-text">
        My areas of interest in research include Machine Learning, Data
        Science, Computer Vision and Natural Language Processing.
        <br />
        Visit my Google Scholar page or browse through my publications below!
        <br /><br />
        <a href="https://scholar.google.com/citations?user=Pcln8XMAAAAJ&hl=en" target="_blank">
          <button class="btn publications-button">
            My Google Scholar Page
            <i class="fas fa-user-graduate right"></i></button></a>
      </p>
    </div>
  </div>
  <div class="row filters">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <div class="chip active" id="all">all</div>
      <div class="chip" id="2017">2017</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2">
      <div class="row" id="parent">
        <div class="col s12 m12 l12 2017">
          <div class="card">
            <div class="card-content">
              <p>
                <b>Development of a Micro Hindi Opinion WordNet and Aligning
                  with Hown Ontology for Automatic Recognition of Opinion
                  Words from Hindi Documents</b><br />
                <span class="subtitle-text">D Teja Santosh, Vikram Sunil Bajaj, Varun Sunil Bajaj<br />
                  International Conference on Next Generation Computing
                  Technologies, 697-708<br />Springer, Singapore</span>
              </p>
            </div>
            <div class="card-action">
              <a href="https://link.springer.com/chapter/10.1007/978-981-10-8657-1_54" target="_blank">View Publication
                <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JQuery for filtering divs-->
  <script>
    var $btns = $(".chip").click(function () {
      if (this.id == "all") {
        $("#parent > div").fadeIn(450);
      } else {
        var $el = $("." + this.id).fadeIn(450);
        $("#parent > div")
          .not($el)
          .hide();
      }
      $btns.removeClass("active");
      $(this).addClass("active");
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>