---
permalink: /work
---

<!DOCTYPE html>
<html>

<head>
  {% include tracking.html %}
  <title>Vikram Bajaj - Work</title>
  {% include static.html %}
  <link rel="stylesheet" type="text/css" href="css/work_theme.css" />
</head>

<body>
  {% include navigation.html %}
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <h1 id="welcome-header">My Work Life!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <p id="work-text">
        I'm a <b>Machine Learning Engineer</b>! <br />I'm
        constantly working on improving and applying my skills in the fields of <b>Machine Learning</b> and <b>Deep
          Learning</b>!<br /><br />
        Click the buttons below to know more about my work life so far!
      </p>
      <div class="filters">
        <button class="btn filter-button active-button" id="experience">
          Experience
        </button>
        <button class="btn filter-button" id="skills">
          Skills
        </button>
        <button class="btn filter-button" id="certifications">
          Certifications
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 push-m3 push-l3">
      <div class="row" id="parent">
        <!--experience divs-->
        <div class="col s12 m12 l12 experience">
          <div class="row filters">
            <div class="col s12 m6 l6 push-m3 push-l3">
              <div class="chip active" id="all-experience">all</div>
              <div class="chip" id="full-time">full-time</div>
              <div class="chip" id="internship">internships</div>
              <div class="chip" id="on-campus">on-campus</div>
            </div>
          </div>
        </div>
        <div class="row experience" id="experience-parent">
          <!-- using a single row for all cards so filters don't result in single-row cards -->
          <div class="col s12 m6 l6 full-time">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/bloomberg.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Bloomberg</span>
                  <b>Machine Learning Engineer / Senior Software Engineer</b>
                  <br />
                  <span class="subtitle">New York, NY (Dec 2022 - Present)</span><br /><br />
                  <b>Tech Stack</b>: Python, PyTorch, PySpark, SQL <br /><br />
                  I currently work on the <i><a href="https://pro.bloomberglaw.com" target="_bank">Bloomberg Law</a>
                    Machine Learning</i> team. My work includes:
                <ul>
                  <li>
                    Leveraging <b>Natural Language Processing</b> techniques to power <a
                      href="https://pro.bloomberglaw.com/ai-powered-litigation/" target="_blank">litigation
                      analytics</a> solutions
                    including case outcome prediction
                  </li>
                </ul>
                </p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6 full-time">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/deutsche_bank.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Deutsche Bank</span>
                  <b>Senior/Lead Software Engineer (AVP) - Machine Learning Engineering</b>
                  <br />
                  <span class="subtitle">New York, NY (Apr 2022 - Dec 2022)</span><br /><br />
                  <b>Associate Software Engineer (Analyst) - Machine Learning Engineering</b>
                  <br />
                  <span class="subtitle">New York, NY (Feb 2020 - Mar 2022)</span><br /><br />
                  <b>Tech Stack</b>: Python, PyTorch, Flask, OpenShift, Kafka <br /><br />
                  I worked on the <i>Automation as a Service</i> team in Corporate Bank Technology. I worked on the
                  following:
                <ul>
                  <li>
                    Led the development of an in-house <b>Document Management</b> system (in Python); a high-impact
                    revenue-generating
                    project, with significant reduction in document processing turnaround time and manual effort
                  </li>
                  <li>
                    Trained <b>SVMs</b> for filter selection and smart template matching to automate document
                    pre-processing,
                    and implemented <b>NLP</b>-backed post-processing to improve OCR quality and minimize human
                    intervention
                  </li>
                  <li>
                    Developed <b>deep models</b> for offline signature extraction and
                    verification, improved scalability, and automated deployments using <b>CI/CD</b> pipelines
                  </li>
                  <li>
                    Set up the team’s <b>Kafka</b> cluster to facilitate scalable communication between various
                    microservices
                  </li>
                  <li>
                    Contributed to the bank-wide <b>Data Science Community of Expertise</b> to establish standards
                    across
                    the bank
                  </li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row experience" id="experience-parent"> -->
          <div class="col s12 m6 l6 full-time">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/deutsche_bank.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Deutsche Bank</span>
                  <b>Grad Software Engineer - Data Engineering </b>
                  <br />
                  <span class="subtitle">New York, NY (Aug 2019 - Feb 2020)</span><br /><br />
                  <b>Tech Stack</b>: Java, Spring Boot, SQL, React, OpenShift <br /><br />
                  While on the <i>Trust & Agency Services</i> team in Corporate Bank Technology, I worked on the
                  following:
                <ul>
                  <li>
                    Developed a generic database to database transfer service, using Java Spring Boot and SQL Server
                  </li>
                  <li>
                    Enhanced a data reconciliation service, allowing it to support multiple recon types (file-file,
                    file-database and database-database)
                  </li>
                  <li>
                    Built an interactive dashboard, using React, to correlate incoming payments from various sources
                  </li>
                </ul>
                </p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6 internship">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/curai.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Curai Health</span>
                  <b>Software Engineering Intern - Machine Learning Engineering</b>
                  <br />
                  <span class="subtitle">Palo Alto, CA (Feb 2019 - Apr 2019)</span><br /><br />
                  <b>Tech Stack</b>: Python, PyTorch, Flask, React, Google Cloud Platform <br /><br />
                  <a href="https://www.curaihealth.com/" target="_blank">Curai Health</a> is a
                  Silicon Valley startup that aims to scale the world's best
                  healthcare for every human being! At Curai Health, I did the
                  following:
                </p>
                <ul>
                  <li>
                    Built a <i>Suggest Diagnoses</i> feature (<b>Deep Learnin</b>g-based dermatological disease
                    diagnosis) to aid doctors
                  </li>
                  <li>
                    Implemented a <i>Next Question</i> flow to determine the next question to ask a patient with Deep
                    Learning-based image differential as a prior, in concert with an <b>Expert System</b>
                  </li>
                  <li>
                    Trained a Rash vs. Neoplasm classifier (<b>CNN</b> using <b>PyTorch</b>),
                    with 90% accuracy on dermatologist-annotated images, to enable automated triaging of patients
                  </li>
                  <li>
                    Developed a reusable image annotation tool with a <b>React</b> UI to demonstrate/compare models
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row experience" id="experience-parent"> -->
          <div class="col s12 m6 l6 internship">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/deutsche_bank.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Deutsche Bank</span>
                  <b>Technology Analyst Intern</b>
                  <br />
                  <span class="subtitle">New York, NY (Jun 2018 - Aug 2018)</span><br /><br />
                  <b>Tech Stack</b>: Python, Flask <br /><br />
                  In the <b>Chief Data Office</b> (CDO) at Deutsche Bank, I
                  worked on the following:
                </p>
                <ul>
                  <li>
                    Applied <b>Natural Language Processing</b> (in Python) to map data attributes based on similarities
                    in their descriptions, toward automating data lineage between systems in the bank
                  </li>
                  <li>
                    Performed <b>sentiment analysis</b> of news articles and built a <b>Flask</b> web app to analyze the
                    correlation of sentiment with stock trend
                  </li>
                  <li>
                    Reviewed the <b>Machine Learning</b> capabilities of
                    DgSecure for the detection of personally identifiable
                    information (PII) in unstructured data, toward GDPR
                    compliance
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6 on-campus">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/nyu.jpg" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">New York University</span>
                  <b>Teaching Assistant, Grading Assistant</b>
                  <br />
                  <span class="subtitle">New York, NY (Nov 2017 - May 2019)</span><br /><br />
                  I was a <b>Teaching Assistant</b> at the
                  <b>NYU Tandon School of Engineering</b> for these grad-level
                  courses:
                </p>
                <ul>
                  <li>
                    <b>Information Visualization</b> (CS-GY 6313) - Spring '19
                  </li>
                  <li><b>Deep Learning</b> (CS-GY 9223-E) - Spring '18</li>
                  <li><b>Big Data Analytics</b> (CS-GY9223-G) - Fall '17</li>
                </ul>
                <p>
                  I was a <b>Grading Assistant</b> at the
                  <b>NYU Center for Data Science</b> (CDS) for these grad-level
                  courses:
                </p>
                <ul>
                  <li>
                    <b>Deep Learning</b> (DS-GA 1008) - Spring '18, for Prof.
                    Yann LeCun
                  </li>
                  <li>
                    <b>Intro to Machine Learning</b> (DS-GA 3001) - Fall '18
                  </li>
                  <li>
                    <b>Programming for Data Science</b> (DS-GA 1007) - Fall '18
                  </li>
                </ul>
                <p>
                  In Fall '17, I also worked at the
                  <b>NYU Kimmel Center for University Life</b> as an IT and
                  Customer Support Assistant!
                </p>
              </div>
            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row experience" id="experience-parent"> -->
          <div class="col s12 m6 l6 internship">
            <div class="card">
              <div class="card-image">
                <img src="images/work/experience/iit_madras.png" />
              </div>
              <div class="card-content">
                <p>
                  <span class="card-title">Indian Institute of Technology (IIT) Madras</span>
                  <b>Summer Fellowship Intern</b>
                  <br />
                  <span class="subtitle">Chennai, India (May 2016 - Jul 2016)</span><br /><br />
                  <b>Tech Stack</b>: MATLAB <br /><br />
                  In the <b>Visualization and Perception Lab</b> at IIT Madras,
                  I implemented a Content-Based Image Retrieval (CBIR) system in
                  <b>MATLAB</b>, using <b>Computer Vision</b> and
                  <b>Machine Learning</b> techniques
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--skills div-->
        <div class="row skills">
          <div class="col s12 m12 l12 skills">
            <h5 class="skills-text">Programming Languages</h5>
            <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title">
                <span class="skill-text">Python</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="70%">
              <div class="skillbar-title">
                <span class="skill-text">Java</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="80%">
              <div class="skillbar-title">
                <span class="skill-text">SQL</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
          </div>
        </div>
        <div class="row skills">
          <div class="col s12 m12 l12 skills">
            <h5 class="skills-text">Tools and Technologies</h5>
            <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title">
                <span class="skill-text" style="font-size: 7px;">Machine Learning</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="80%">
              <div class="skillbar-title">
                <span class="skill-text" style="font-size: 10px;">Data Science</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="70%">
              <div class="skillbar-title">
                <span class="skill-text" style="font-size: 9px;">Deep Learning</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="80%">
              <div class="skillbar-title">
                <span class="skill-text">Flask</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="70%">
              <div class="skillbar-title">
                <span class="skill-text" style="font-size: 7px;">Computer Vision</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title">
                <span class="skill-text">NLP</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="90%">
              <div class="skillbar-title">
                <span class="skill-text">Cloud</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title">
                <span class="skill-text">Tableau</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="50%">
              <div class="skillbar-title">
                <span class="skill-text" style="font-size: 12px;">Plotly Dash</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
            <div class="skillbar clearfix" data-percent="60%">
              <div class="skillbar-title">
                <span class="skill-text">Web Dev</span>
              </div>
              <div class="skillbar-bar"></div>
            </div>
            <!-- End Skill Bar -->
          </div>
        </div>

        <!--certifications divs-->
        <div class="row certifications">
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/deep-learning-specialization.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>Deep Learning Specialization</b>
                  <br />
                  <span class="subtitle">deeplearning.ai, Coursera (Sep 2018)</span><br />
                  <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/NXMMKQYFS62D"
                    target="_blank">View Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/machine-learning.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>Machine Learning</b>
                  <br />
                  <span class="subtitle">Stanford, Coursera (Apr 2016)</span><br />
                  <a href="https://www.coursera.org/account/accomplishments/certificate/4UJAX57SPU7S"
                    target="_blank">View
                    Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/python-for-data-science.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>Introduction to Python for Data Science</b>
                  <br />
                  <span class="subtitle">Microsoft, edX (May 2016)</span><br />
                  <a href="https://courses.edx.org/certificates/f4f7f42268ad4b23b69f234d4a9f2788" target="_blank">View
                    Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row certifications">
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/r-for-data-science.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>Introduction to R for Data Science</b>
                  <br />
                  <span class="subtitle">Microsoft, edX (Jun 2019)</span><br />
                  <a href="https://courses.edx.org/certificates/5186d3c3f2e042cda9062c7ceeeab5dd" target="_blank">View
                    Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/corporate-finance.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>Introduction to Corporate Finance</b>
                  <br />
                  <span class="subtitle">Wharton School, University of Pennsylvania, Coursera (May
                    2018)</span><br />
                  <a href="https://www.coursera.org/account/accomplishments/certificate/2ZPJK886EAEC"
                    target="_blank">View
                    Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4 certifications">
            <div class="card">
              <div class="card-image">
                <img src="images/work/certificates/html5.JPG" class="materialboxed" />
              </div>
              <div class="card-content">
                <p>
                  <b>HTML5</b>
                  <br />
                  <span class="subtitle">W3C, edX (Jul 2015)</span><br />
                  <a href="https://courses.edx.org/certificates/af06d32edb184565ab31d62fd7a23e9c" target="_blank">View
                    Certificate <i class="fas fa-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Initialize SideNav-->
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, { edge: "right" });
    });
  </script>
  <!--JQuery for filtering main section divs-->
  <script>
    var $btns = $(".filter-button").click(function () {
      var $el = $("." + this.id).fadeIn(450);
      $("#parent > div")
        .not($el)
        .hide();
      $btns.removeClass("active");
      $(this).addClass("active");
    });
  </script>
  <!--JQuery for experience filtering divs-->
  <script>
    var $chips = $(".chip").click(function () {
      if (this.id == "all-experience") {
        $("#experience-parent > div").fadeIn(450);
      } else {
        var $el = $("." + this.id).fadeIn(450);
        $("#experience-parent > div")
          .not($el)
          .hide();
      }
      $chips.removeClass("active");
      $(this).addClass("active");
    });
  </script>
  <!--JQuery for skillbars-->
  <script>
    jQuery("#skills").click(function () {
      jQuery(".skillbar").each(function () {
        jQuery(this)
          .find(".skillbar-bar")
          .animate(
            {
              width: jQuery(this).attr("data-percent")
            },
            1000
          );
      });
    });
  </script>
  <!--Image click to zoom-->
  <script>
    $(document).ready(function () {
      $(".materialboxed").materialbox();
      $(".active-button").trigger("click");
    });
  </script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
{% include footer.html %}

</html>