<footer>
        <a href="https://www.linkedin.com/in/vikrambajaj22" target="_blank"><i class="fab fa-linkedin fa-3x"
                        style="color: #0077b5;"></i></a>
        <span class="footer-text">/</span>
        <a href="https://www.github.com/vikrambajaj22" target="_blank"><i class="fab fa-github-alt fa-3x"
                        style="color: #24292e;"></i></a>
        <span class="footer-text">/</span>
        <a href="https://www.twitter.com/vikram_bajaj" target="_blank"><i class="fab fa-twitter fa-3x"
                        style="color: #1ab2e8;"></i></a>
        <span class="footer-text">/</span><a href="https://www.instagram.com/vikrambajaj22" target="_blank"><i
                        class="fab fa-instagram fa-3x"></i></a>
        <span class="footer-text">/</span>
        <a href="https://www.facebook.com/vikrambajaj22" target="_blank"><i class="fab fa-facebook fa-3x"
                        style="color: #1877f2;"></i></a>
</footer>
<div id="copyright-text">
        Made with <i class="far fa-heart" style="color: red"></i> by Vikram Bajaj
</div>