<nav class="hide-on-small-only">
    <a href="/">Home</a> / <a href="/education">Education</a> /
    <a href="/work">Work</a> / <a href="/hobbies">Hobbies</a> /
    <a href="/projects">Projects</a> /
    <a href="/publications">Publications</a> /
    <a href="/books">Books</a> /
    <a href="VikramBajaj_Resume.pdf" download="VikramBajaj_Resume.pdf">Resume <i class="fas fa-download"></i></a> / <a
        href="https://medium.com/@vikram_bajaj" target="_blank">Blog <i class="fas fa-external-link-alt"></i></a>
    / <a href="/contact">Contact</a>
</nav>
<!--SideNav-->
<ul id="slide-out" class="sidenav">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/education">Education</a>
    </li>
    <li>
        <a href="/work">Work</a>
    </li>
    <li><a href="/hobbies">Hobbies</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/publications">Publications</a></li>
    <li><a href="/books">Books</a></li>
    <li>
        <a href="VikramBajaj_Resume.pdf" download="VikramBajaj_Resume.pdf">Resume <i class="fas fa-download"
                style="float: none;"></i></a>
    </li>
    <li><a href="https://medium.com/@vikram_bajaj" target="_blank">Blog <i class="fas fa-external-link-alt"
                style="float: none;"></i></a>
    </li>
    <li><a href="/contact">Contact</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-med-and-up right"><i
        class="material-icons">menu</i></a>