<!-- Default Statcounter code -->
<!-- <script type="text/javascript">
    var sc_project = 12039826;
    var sc_invisible = 1;
    var sc_security = "21b96df6";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
    <div class="statcounter">
        <a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter"
                src="https://c.statcounter.com/12039826/0/21b96df6/1/" alt="Web Analytics" /></a>
    </div>
</noscript> -->
<!-- End of Statcounter Code -->

<!-- Google Analytics Tracking -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W0DXH32B0B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W0DXH32B0B');
</script>